// 此自定义uView主题生成于2021-07-08 17:07
// 地址：http://www.uviewui.com/guide/theme.html

$u-type-primary: #fc6c37;
$u-type-error: #ff6767;
$u-type-warning: #ffab02;
$u-type-success: #4aba5d;
$u-type-info: #909399;

$u-type-primary-light: #e5e5e5;
$u-type-error-light: #e5e5e5;
$u-type-warning-light: #e5e5e5;
$u-type-success-light: #e5e5e5;
$u-type-info-light: #e5e5e5;

$u-type-primary-dark: RGBA(226, 96, 49, 1);
$u-type-error-dark: #dd6161;
$u-type-warning-dark: #f29100;
$u-type-success-dark: #18b566;
$u-type-info-dark: #82848a;

$u-type-primary-disabled: RGBA(226, 96, 49, 1);
$u-type-error-disabled: #fab6b6;
$u-type-warning-disabled: #fcbd71;
$u-type-success-disabled: #71d5a1;
$u-type-info-disabled: #c8c9cc;

// 文本标题颜色
$u-main-color: #222222;

// 文本辅助颜色
$u-content-color: #666666;

// 文本辅助信息颜色不与#666配合使用
$u-tips-color: #999999;

// 置灰色
$u-light-color: #cccccc;

// 图标，线框30紫灰色
$u-border-color: #c3c2cc;

// 浅色背景色
$u-bg-color: #f5f6fa;

$u-form-item-border-color: #dcdfe6;
$u-form-item-height: 70rpx;
