.tab-card-content {
  flex: 1;
  .ant-card-head-title {
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
  }
  .ant-card-body {
    padding: 24rpx 24px 0;
  }
}
